*{
    padding: 1px;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    background-color: red;
    color: white;
    
    
}
nav ul li{

    display: inline-block;
    text-align: center;
    margin-left: 100px;
    font-size: small;
    
}
.carousel{
    padding-top: 5px;
}
.fa-user{
    margin-left: 95px;
}
.brand{
    font-size: large;
}

.center{
    text-align: center;
    margin-top: 90px;
}
.center1{
    text-align: center;
}
.card-title{
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
}
.card{
    width: 18rem;
    display:flex;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    margin-left: 110px;
    background-color: white;
    height: 300px;
    border-radius: 30px;
}
.cardbutton{
    display:flex;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    margin-left: 215px;
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    border-color: blue;
    margin-top: 15px;  
}
.cardbutton1{
    display:flex;
    justify-content: space-between;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: blue;
    color: white;
    border-color: blue; 
    margin-top: 20px;
    margin-right: 150px;
}
.cardbutton2{
    display:flex;
    justify-content: space-between;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border-color: red; 
    margin-top: 105px;
}
.cardml{
    width: 18rem;
    display:flex;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
    margin-left: 250px;
    background-color: white;
    margin-top: 60px;
}
.cardshadow-on{
    transition: all 0.4;
}
.shadow-on{
    transition: all 0.4;
}
.cardshadow-on:hover{
    box-shadow: 0 10px 40px black;
}

.imgsss{
    border-radius: 2000px;
    height: 15vh;
}
.imgss{
    border-radius: 2000px;
    height: 15vh;
}
.images{
    background-image: url(image/15.png);
    height: 40vh;
}
.imgs{
    background-image: url(image/7.png);
    height: 39vh;
}
.pics{
    background-image: url(image/12.png);
    height: 40vh;
}

.search{
    margin-left: 200px;
    width: 950px;
    border-radius: 30px;
    height: 40px;
    border-color: white;
    padding-left: 20px;
    overflow: hidden;
    margin-top: 50px;
}
.backgroundimg{
    height: 30vh;
    background-image: url(image/1.png);
    margin-top: 30px;
}
.buttonml{
    margin-left: 535px;
    margin-top: 20px;
    width: 250px;
    height: 35px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    border-color: blue; 
}

/* footer */
.container{
	max-width: 1000px;
	margin:auto;
}
.row{
	display: flex;
	/* flex-wrap: wrap; */
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
}
 
.footer-col .social-links a:hover{
	color: yellow;
	background-color: #ffffff;
}
.imgset{
    width: 320px;
}
.image{
    width: 500px;
}
a{
    color: white;
}
/* .card1{
    margin-top: 30px;
} */
.row1{
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}
.row2{
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}
.card-title1{
    margin-top: 20px;
    margin-right: 110px;
}
.card-text1{
    margin-top: 20px;
}


.down{
    padding: 30px;
}
.backimg{
    height: 80vh;
    background-image: url(image/7.png);
    border-radius: 70px;
    padding-top: 15px;
}
.card{
    margin-top: 55px;
}
.center2{
    text-align: center;
    color: white;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50;
    margin-bottom: 60px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
  :root{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
 }
 
 *{
    margin: 0;
    box-sizing: border-box;
 }
 
 /* carousel */
  .carousel{
    position: relative;
 }
 
 .carousel_inner{
    width: 100%;
    overflow: hidden;
 }
 
 .carousel_inner::after{
    content: "";
    display: block;
    clear: both;
 }
 
 .carousel_item{
    position: relative;
    float: left;
    display: none;
    width: 100%;
    margin-right: -90%;
 }
 
 /* slide effect */
 .carousel_item__active,
 .carousel_item__pos_prev,
 .carousel_item__pos_next{
    display: block;
 }
 
 .carousel_item__pos_prev{
    left: -90%;
 }
 
 .carousel_item__pos_next{
    left: 90%;
 }
 
 .carousel_item__prev{
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
 }
 
 .carousel_item__next{
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
 }
 
 /* fade effect */
 .carousel__fade .carousel_item__pos_prev,
 .carousel__fade .carousel_item__pos_next{
    left: 0;
    opacity: 0;
 }
 
 .carousel__fade .carousel_item__prev,
 .carousel__fade .carousel_item__next{
    transform: none;
    opacity: 1;
    transition: opacity .5s ease-in-out;
 }
 
 .carousel__fade .carousel_item__active.carousel_item__prev,
 .carousel__fade .carousel_item__active.carousel_item__next{
    opacity: 0;
 } 
 
 /* carousel */
  .carousel_img{
    display: block;
    width: 100%;
    height: 95vh;
 }
 
 .carousel_caption{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem 4rem;
    text-align: center;
    color: #fff;
    z-index: 1;
 }
 
 .carousel_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-right: 700px;
 }
 
 .carousel_description{
    margin-top: .75rem;
    line-height: 150%;
 }
 
 .carousel_indicator{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    z-index: 1;
 }
 
 .carousel_dot{
    display: block;
    padding: .25rem;
    background-color: rgba(255, 255, 255, .25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
 }
 
 .carousel_dot__active{
    background-color: lightskyblue;
    cursor: default;
    pointer-events: none;
 }
 
 .carousel_control{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
 }
 
 .carousel_button{
    display: block;
    padding-inline: 1rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.375rem;
    background-color: transparent;
    color: rgba(255, 255, 255, .25);
    border: none;
    cursor: pointer;
    transition: color .25s;
    z-index: 1;
 }
 
 .carousel_button:hover{
    color: rgba(135, 206, 250, .75);
 } 
 .crselbttn{
    display:flex;
    justify-content: space-between;
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border-color: red; 
    /* margin-top: 105px; */
    margin-left: 99px;
 }
 @media(max-width: 767px){
    .carousel{
      width: 50;
      margin-bottom: 60px;
  }
  }

/*------------------------contact page--------------------------------------*/

/* button{
    color: red;
    width: 70px;
    height: fit-content;
} */
